@charset "UTF-8"
body{
    background-color:rgb(255, 253, 160);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
      h1 {
          color:darkblue;
          background-color: rgb(252, 161, 75);
      }
      h2 {
          color: rgba(139, 9, 0, 0.966);
      }
      p{
          text-align: justify;
      }